@page "/"
@attribute [Authorize]
@*L'attributo sulla pagina root equivale a richiedere l'autorizzazione su qualsiasi
pagina child.*@

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
